@mixin border-right-radius($raduis) {
    border-top-right-radius: $raduis;
    border-bottom-right-radius: $raduis;
  }
  
  @mixin border-left-radius($raduis) {
    border-top-left-radius: $raduis;
    border-bottom-left-radius: $raduis;
  }