@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-style(
  $background,
  $border,
  $color,
  // lghten,sass内置函数，比$background颜色要浅上7.5%
    $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
    // 清除点击的时候默认出现一个蓝色的外边框
    outline: none;
  }
  &:disabled,
  &.lin-button-disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

@mixin alert-style($background-color, $border-color) {
  background-color: $background-color;
  border: $alert-border-width solid $border-color;
}
