@import "./common";

$input-padding-y: 0.375rem !default;
$input-padding-x: 0.75rem !default;
$input-font-family: $font-family-base !default;
$input-font-size: $font-size-base !default;
$input-font-weight: $font-weight-base !default;
$input-line-height: $line-height-base !default;

$input-padding-y-sm: 0.25rem !default;
$input-padding-x-sm: 0.5rem !default;
$input-font-size-sm: $font-size-sm !default;

$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;
$input-font-size-lg: $font-size-lg !default;

$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-disabled-border-color: null !default;

$input-color: $gray-700 !default;
$input-border-color: $gray-400 !default;
$input-border-width: $border-width !default;
$input-box-shadow: $box-shadow-inset !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: lighten($primary, 25%) !default;
$input-focus-width: 0.2rem !default;
$input-focus-color: $input-color !default;
$input-focus-shadow-color: rgba($primary, 0.25) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-width $input-focus-shadow-color !default;

$input-placeholder-color: $gray-600 !default;
$input-plaintext-color: $body-color !default;

$input-height-border: $input-border-width * 2 !default;

$input-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !default;

$input-group-addon-color: $input-color !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $input-border-color !default;
